# ignore modules
/node_modules

# ignore development directories
build/public/stylesheets

# ignore maps
/build/scripts/main.d.ts
/build/scripts/main.d.ts.map
/build/scripts/main.js.map
/build/public/style.css.map
# /build/public/stylesheets/colors.css.map
# /build/public/stylesheets/index.css.map
