// stylesheet for mixins

@mixin set-theme($text-color-1, $text-color-2, $background-color-1, $background-color-2, $background-color-3, $border-color, $shadow-color) {
	--background-color-1: #{$background-color-1};
	--background-color-2: #{$background-color-2};
	--background-color-3: #{$background-color-3};
	--border-color: #{$border-color};
	--text-color-1: #{$text-color-1};
	--text-color-2: #{$text-color-2};
	--shadow-color: #{$shadow-color};
}

@mixin background-gradient($grad-1, $grad-2, $grad-3) {
	background: #c29393;
	background: -webkit-linear-gradient(90deg, rgba(194, 147, 147, 1) 0%, rgba(249, 247, 241, 1) 20%, rgba(249, 247, 241, 1) 80%, rgba(194, 147, 147, 1) 100%);
	background: -moz-linear-gradient(90deg, rgba(194, 147, 147, 1) 0%, rgba(249, 247, 241, 1) 20%, rgba(249, 247, 241, 1) 80%, rgba(194, 147, 147, 1) 100%);
	background: linear-gradient(90deg, rgba(194, 147, 147, 1) 0%, rgba(249, 247, 241, 1) 20%, rgba(249, 247, 241, 1) 80%, rgba(194, 147, 147, 1) 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#C29393", endColorstr="#C29393", GradientType=1);
}

// @mixin background-gradient($grad-1, $grad-2, $grad-3) {
// 	background: #c29393;
// 	background: -webkit-linear-gradient(90deg, rgba(194, 147, 147, 1) 0%, rgba(249, 247, 241, 1) 20%, rgba(249, 247, 241, 1) 80%, rgba(237, 221, 83, 1) 100%);
// 	background: -moz-linear-gradient(90deg, rgba(194, 147, 147, 1) 0%, rgba(249, 247, 241, 1) 20%, rgba(249, 247, 241, 1) 80%, rgba(237, 221, 83, 1) 100%);
// 	background: linear-gradient(90deg, rgba(194, 147, 147, 1) 0%, rgba(249, 247, 241, 1) 20%, rgba(249, 247, 241, 1) 80%, rgba(237, 221, 83, 1) 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#C29393", endColorstr="#EDDD53", GradientType=1);
// }

@mixin grid-center {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}