// stylesheet for mixins

@mixin set-theme($text-color, $background-color_1, $background-color_2, $background-color_3, $border-color, $shadow-color) {
	--background-color-1: #{$background-color_1};
	--background-color-2: #{$background-color_2};
	--background-color-3: #{$background-color_3};
	--border-color: #{$border-color};
	--text-color: #{$text-color};
	--shadow-color: #{$shadow-color};
}