// stylesheet for theme colors
@mixin default-theme-colors {
	--background-color-1: hsl(219, 99%, 73%);
	--background-color-2: hsl(49, 77%, 88%);
	--background-color-3: hsl(168, 50%, 85%);
	--border-color: hsl(240, 2%, 60%);
	--text-color: hsl(0, 97%, 12%);
	--shadow-color: hsl(244, 50%, 5%);
}