@use "./stylesheets/index.scss";

.default-theme {
	@include index.set-theme(index.$text-color-1_default, index.$text-color-2_default, index.$background-color-1_default, index.$background-color-2_default, index.$background-color-3_default, index.$border-color_default, index.$shadow-color_default);
}

.dark-theme {
	@include index.set-theme(index.$text-color-1_dark, index.$text-color_2-dark, index.$background-color_1-dark, index.$background-color_2-dark, index.$background-color_3-dark, index.$border-color-dark, index.$shadow-color-dark);
}

body {
	color: var(--text-color-1);
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto 1fr auto;
	min-height: 100vh;
	font-family: index.$font-default;
	font-style: normal;
	font-weight: 400;
	cursor: default;
	@include index.background-gradient(index.$grad-2, index.$grad-1);
}

header {
	z-index: 2;
	position: relative;
	margin: 0px;
	padding-bottom: 8px;
	grid-column: 1 / span 3;
	display: grid;
	background-color: index.$title-color;
	border-bottom: 7px solid var(--border-color);
	> div {
		display: grid;
		background-color: var(--background-color-2);
		border-bottom: 2px solid index.$title-color-border;
	}
}

#website-title {
	justify-self: center;
	align-self: center;
	padding: 0rem 1rem;
	margin: 5px;
	font-size: 3.1rem;
	font-weight: 600;
	letter-spacing: .1rem;
	font-family: index.$title-font-family;
	color: index.$title-color;
	background-color: index.$title-color-background;
	border: .12rem solid index.$title-color-border;
	border-radius: 15rem 6rem 10rem 6rem;
}

nav {
	z-index: 1;
	grid-column: 1 / span 3;
	background-color: var(--background-color-3);
	box-shadow: 0px 1px 5px var(--shadow-color);
	font-family: index.$font-default;
	padding: 5px 8px;
	display: flex;
	justify-content: space-between;
	> .center-nav {
		display: flex;
		justify-content: space-evenly;
	}
}

main {
	padding: 0px 8px;
	background-color: var(--background-color-3);
	box-shadow: 0px 0px 3vw var(--shadow-color);
	grid-column: 2 / 2;
	width: 800px;
}

.section-separate-style {
	border-bottom: 2px solid var(--border-color);
}

.section-margins {
	margin-top: 16px;
	> div {
		margin: 16px 0px;
	}
}

footer {
	grid-column: 1 / span 3;
	background-color: var(--background-color-2);
	display: grid;
	padding-top: 10px;
	box-shadow: 0px 0px 2px var(--shadow-color);
	color: var(--text-color_2);
	> small {
		justify-self: center;
		align-self: center;
	}
}

#option-field {
	margin-right: 2px;
}

.options-container {
	@include index.grid-center;
}

.list-option-style {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	padding: 8px;
	border: 2px solid var(--border-color);
	@include index.break-corners;
}

.option-text-element {
	white-space: nowrap;
	overflow-x: scroll;
	padding: 14px 0px;
	grid-column: 1 / span 8;
	grid-row: 2;
}

.cost-input-style {
	grid-row: 3;
	grid-column: 1 / span 3;
	margin: 1px;
	margin-right: 3px;
}

.benefit-input-style {
	grid-row: 3;
	grid-column: 4 / span 3;
	margin: 1px;
}

// BUTTONS
.nav-button-style {
	background: none;
	border: none;
	cursor: pointer;
}

.generic-btn-style {
	@include index.button-generic(var(--border-color), var(--background-color-3));
	@include index.round-corners;
	color: var(--text-color-1);
}

.generic-input-style {
	@include index.button-generic(var(--border-color), var(--background-color-3));
	@include index.break-corners;
}

.remove-option-btn-style {
	padding: 0px;
	grid-column: 8;
	@include index.button-generic(var(--border-color), var(--background-color-3));
	@include index.round-corners;
}

.option-backward-btn-style {
	grid-column: 7;
	@include index.button-generic(var(--border-color), var(--background-color-3));
	@include index.round-corners;
}

.option-forward-btn-style {
	grid-column: 8;
	@include index.button-generic(var(--border-color), var(--background-color-3));
	@include index.round-corners;
}

.selected-option-display-container {
	gap: 10px;
	font-size: x-large;
	margin: 16px 0px;
	@include index.grid-center;
}

#selected-option-display {
	grid-column: 2;
	>.option-text-element {
		grid-row: 1 / span 3;
	}
}

@media (max-width: 800px) {
	main {
		width: auto;
		grid-column: 1 / span 3;
	}
}

@media (max-width: 324px) {
	.selected-option-display-container {
		grid-template-columns: 1fr;
		margin: 0px;
	}
	#selected-option-display {
		grid-column: 1;
	}
	.options-container {
		grid-template-columns: 1fr;
	}
}

// hover compatible styles
@media only screen and (hover: hover) {
	.nav-button-style:hover {
		color: rgb( from var(--text-color-1) 150 150 150 );
	}
	.generic-btn-style:hover {
		@include index.button-generic-hover(index.$detailing, var(--background-color-3));
	}
	.generic-input-style:hover {
		@include index.button-generic-hover(index.$detailing, var(--background-color-3));
	}
	.remove-option-btn-style:hover {
		@include index.button-generic-hover(index.$detailing, var(--background-color-3));
	}
	.option-forward-btn-style:hover {
		@include index.button-generic-hover(index.$detailing, var(--background-color-3));
	}
	.option-backward-btn-style:hover {
		@include index.button-generic-hover(index.$detailing, var(--background-color-3));
	}
}