@use "./stylesheets/index.scss";

.default-theme {
	@include index.set-theme(index.$text-color-1_default, index.$text-color-2_default, index.$background-color-1_default, index.$background-color-2_default, index.$background-color-3_default, index.$border-color_default, index.$shadow-color_default);
}

.dark-theme {
	@include index.set-theme(index.$text-color-1_dark, index.$text-color_2-dark, index.$background-color_1-dark, index.$background-color_2-dark, index.$background-color_3-dark, index.$border-color-dark, index.$shadow-color-dark);
}

body {
	color: var(--text-color-1);
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto auto 1fr auto;
	min-height: 100vh;
	font-family: index.$font-default;
	font-style: normal;
	font-weight: 400;
	@include index.background-gradient(index.$grad-1, index.$grad-2, var(--background-color-3));
}

header {
	position: relative;
	z-index: 2;
	margin: 0px;
	padding: 8px;
	background-color: var(--background-color-2);
	grid-column: 1 / span 3;
	display: grid;
	border-bottom: 2px solid var(--border-color);
}

#website-title {
	justify-self: center;
	align-self: center;
	padding: 0rem 1rem;
	margin: 3px;
	font-size: 3.1rem;
	font-weight: 600;
	letter-spacing: .1rem;
	font-family: index.$title-font-family;
	color: index.$title-color;
	background-color: index.$title-color-background;
	border: .1rem solid index.$title-color-border;
	border-radius: 5rem;
}

nav {
	z-index: 1;
	grid-column: 1 / span 3;
	background-color: var(--background-color-3);
	box-shadow: 0px 1px 5px var(--shadow-color);
	font-family: index.$font-default;
	padding: 5px 8px;
	display: flex;
	justify-content: space-between;
	> .center-nav {
		display: flex;
		justify-content: space-evenly;
	}
}

.nav-button-style {
	background: none;
	border: none;
}

.section-separate-style {
	border-bottom: 2px solid var(--border-color);
}

main {
	padding: 0px 8px;
	background-color: var(--background-color-3);
	box-shadow: 0px 0px 3vw var(--shadow-color);
	grid-column: 2 / 2;
	width: 800px;
}

.section-margins {
	margin-top: 16px;
	> div {
		margin: 16px 0px;
	}
}

footer {
	grid-column: 1 / span 3;
	background-color: var(--background-color-2);
	display: grid;
	padding-top: 10px;
	box-shadow: 0px 0px 2px var(--shadow-color);
	color: var(--text-color_2);
	> small {
		justify-self: center;
		align-self: center;
	}
}

.remove-option-btn {
	margin-left: 10px;
	padding: 0px 5px 2px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected-option-display-container {
	display: flex;
	gap: 10px;
	font-size: x-large;
	margin: 16px 0px;
	@include index.grid-center;
}

#selected-option-display {
	grid-column: 2;
}

.options-container {
	@include index.grid-center;
}

.list-option-style {
	display: grid;
	grid-template-columns: 10fr 1fr;
	border-radius: 5px;
	padding: 8px;
}

@media (max-width: 800px) {
	main {
		width: auto;
		grid-column: 1 / span 3;
	}
}

// hover compatible styles
@media only screen and (hover: hover) {
	.nav-button-style:hover {
		color: rgb( from var(--text-color-1) 150 150 150 );
	}
}
